@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url(/css/header.css);
@import url(/css/section.css);
@import url(/css/footer.css);
@import url(/css/menu-topo.css);

* {
    box-sizing: border-box;

}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
